*{
	margin:0;
	padding:0;
}
body {
	background: #111;
	font: 33px Helvetica, Arial, sans-serif;
	letter-spacing: -3px;
	margin-left: 0px;
}
#main{

}
#topics {
	position: absolute;
	left: 0;
	top: 60px;
	width: 200px;
}
h2{
	position: relative;
	z-index: 10;
	overflow: hidden;
	font-weight: bold;
	font-size:43px;
	margin: 0;
	padding-left: 14px;
	cursor: pointer;
	line-height:40px;
	width: 200px;
}
.love {
color: #A839B2;
}
.hate {
color: #FF0071;
}
.think {
color: #ACD030;
}
.believe {
color: #58AA00;
}
.feel {
color: #00AA78;
}
.wish {
color: #0074AE;
}
#tw {
	position: fixed;
	left: 0px;
	bottom:-3em;
	float:left;
	height:auto;
	list-style-type: none;
	margin: 0;
}

#tw li {
	color: #5C5C5C;
	font-size: 18px;
	line-height:24px;
	letter-spacing: 0px;
	font-weight: normal;
	margin: 0;
	padding-top:10px;
	padding-left: 200px;
	padding-right: 15px;
	padding-bottom:10px;
	word-wrap: break-word;
	white-space: pre-line;
	white-space: -o-pre-wrap;
	white-space: -moz-pre-wrap;
}
.tweetBody{
	margin-left:5px;
	line-height:32px;
	word-wrap: break-word;
}
.tweetBody a{
	text-decoration:none;
	color:  #5C5C5C;
	font-size:36px;
}
.selected{
	color:white;
}
